.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #e5e7eb;
  height: 40px;
  box-sizing: border-box;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 3.8%;
}

.link-box {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 0;
  padding: 4px 12px;
  font-size: 13px;
  font-weight: 500;
  color: #4f4f4f;
  height: 32px;
  gap: 12px;
  padding-right: 231%;
}

.header-link {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  padding: 0 4px;
}

.header-link:first-child {
  padding-right: 12px;
}

.header-link:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #b5b5b5;
}

.refresh-icon {
  font-size: 11px;
  color: #f97316;
  margin-left: 4px;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.header-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1 4px;
  
}

.header-spacer {
  height: 100%;
}

.btn {
  border: none;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  line-height: 26px;
  height: 39px;
  white-space: nowrap;
}

.abc {
  background-color: #e6f4ea;
  color: #14532d;
  width: 100%;
}

.answer {
  background-color: #e6e6fb;
  color: #312e81;
  width: 100%;
}

.extract {
  background-color: #f5c3a1d0  ;
  color: #634c4b ;
  font-weight: 600;
  width: 100%;
}
.plus{
  background-color: white;
  width: 100%;
}

.head-icon-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  

}
.head-icon {
  color: #2057fc;
}

.duot{
  font-weight: 10;
  font-size: 10px;
  color: #8e8e8e;
}